/* Main Container */
.add-property-main-container {
  font-family: Arial, sans-serif;
  width: 100%;
  margin: 0 auto;
  margin-top: 100px;
}

/* Options Container */
.options-container {
  border-radius: 50px;
  width: 70%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: space-between;
  align-items: center;
  border: 2px solid lightgray;
  padding: 10px 0px;
}
.add-select-agent {
  width: 80%;
  margin: auto;
  margin-top: -20px;
}
/* Individual Option */
.option {
  padding: 8px 7px;
  cursor: pointer;
  background-color: #ffff;
  color: #333;
  text-align: center;
  font-weight: bold;
  transition: all 0.3s ease;
}

/* Remove Border for Last Option */
.option:last-child {
  border-right: none;
}

/* Active State */
.option.active {
  color: var(--primary);
}

/* Content Container */
.content-container {
  padding: 0px 10px;
  background-color: #fff;
}

@media (max-width: 768px) {
  .options-container {
    border-radius: 12px;
    width: 95%;
    margin-top: 125px;
    row-gap: 10px;
    grid-template-columns: repeat(2, 1fr);
  }
  .content-container {
    padding: 15px 4px;
  }
  .add-property-main-container {
    margin-top: 50px;
  }
}
